# This is a git-fleximod adapted .gitmodules file.  Any field with a name starting in fx is a git-fleximod
# specific field.  See https://github.com/ESMCI/git-fleximod for details.

[submodule "source_cism"]
path = source_cism
url = https://github.com/NorESMhub/CISM
fxtag = cism_main_2.02.002_noresm_v0
fxrequired = AlwaysRequired
fxDONOTUSEurl = https://github.com/NorESMhub/CISM

[submodule "cime"]
path = cime
url = https://github.com/NorESMhub/cime.git
fxtag = cime6.1.73_noresm_v0
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/cime.git

[submodule "ccs_config"]
path = ccs_config
url = https://github.com/NorESMhub/ccs_config_noresm.git
fxtag = ccs_config_noresm0.0.49
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/ESMCI/ccs_config_cesm.git

[submodule "cmeps"]
path = components/cmeps
url = https://github.com/NorESMhub/CMEPS.git
fxtag = cmeps1.0.39_noresm_v4
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/CMEPS.git

[submodule "cdeps"]
path = components/cdeps
url = https://github.com/NorESMhub/CDEPS.git
fxtag = cdeps1.0.70_noresm_v7
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/CDEPS.git

[submodule "share"]
path = share
url = https://github.com/NorESMHub/NorESM_share
fxtag = share1.1.9_noresm_v0
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMHub/NorESM_share

[submodule "ctsm"]
path = components/clm
url = https://github.com/NorESMhub/CTSM.git
fxtag = ctsm5.3.034_noresm_v7
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/ESCOMP/CTSM.git

[submodule "mosart"]
path = components/mosart
url = https://github.com/ESCOMP/MOSART.git
fxtag = mosart1.1.08
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/ESCOMP/MOSART.git

[submodule "mct"]
path = libraries/mct
url = https://github.com/MCSclimate/MCT
fxtag = MCT_2.11.0
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/MCSclimate/MCT


[submodule "parallelio"]
path = libraries/parallelio
url = https://github.com/NCAR/ParallelIO
fxtag = pio2_6_2
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NCAR/ParallelIO
