# This is a git-fleximod adapted .gitmodules file.  Any field with a name starting in fx is a git-fleximod
# specific field.  See https://github.com/ESMCI/git-fleximod for details.

[submodule "source_cism"]
path = source_cism
url = https://github.com/NorESMhub/CISM
fxtag = cism_main_2.01.017_noresm_v2
fxrequired = AlwaysRequired
fxDONOTUSEurl = https://github.com/NorESMhub/CISM

[submodule "cime"]
path = cime
url = https://github.com/NorESMhub/cime.git
fxtag = cime6.1.173_noresm_v0
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/cime.git

[submodule "ccs_config"]
path = ccs_config
url = https://github.com/NorESMhub/ccs_config_noresm.git
fxtag = ccs_config_noresm0.0.65
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/ccs_config_noresm.git

[submodule "cmeps"]
path = components/cmeps
url = https://github.com/NorESMhub/CMEPS.git
fxtag = cmeps1.1.41_noresm_v0
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/CMEPS.git

[submodule "cdeps"]
path = components/cdeps
url = https://github.com/NorESMhub/CDEPS
fxtag = cdeps1.0.88_noresm_v2
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/CDEPS

[submodule "share"]
path = share
url = https://github.com/NorESMHub/NorESM_share.git
fxtag = share1.1.18_noresm_v0
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMHub/NorESM_share.git

[submodule "ctsm"]
path = components/clm
url = https://github.com/NorESMhub/CTSM.git
fxtag = ctsm5.4.002_noresm_v7
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/CTSM.git

[submodule "mosart"]
path = components/mosart
url = https://github.com/NorESMhub/MOSART.git
fxtag = mosart1.1.12_noresm_v2
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NorESMhub/MOSART.git

[submodule "parallelio"]
path = libraries/parallelio
url = https://github.com/NCAR/ParallelIO
fxtag = pio2_6_6
fxrequired = ToplevelRequired
fxDONOTUSEurl = https://github.com/NCAR/ParallelIO

[submodule "tools/CUPiD"]
	path = tools/CUPiD
	url = https://github.com/NCAR/CUPiD.git
fxDONOTUSEurl = https://github.com/NCAR/CUPiD.git
fxrequired = ToplevelRequired
fxtag = v0.3.1
